header, main, footer {
    padding: 1.5rem clamp(1rem, 50vw - 20rem, 20vw);
}

body {
    font: 120%/1.5 system-ui, sans-serif;
}

header {
    background: #111;
    color: #ffd500;
}

header > h1 {
    margin: 0px;
    text-align: center;
}

md-block:not([rendered]) {
    white-space: pre-line;
}

md-block code {
    padding: .1em .2em;
    margin: 0;
    font-size: 80%;
    background-color: #eff1f3;
    border-radius: 6px;
}

/* force the footer at the bottom even if there's not enough content */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
footer {
    margin-top: auto;
    background: #080808;
    color: #e00000;
    text-align: center;
}

footer > a {
    color: #1e90ff;
}

footer > a:visited {
    color: #8a2be2;
}

li > p + p {
    margin-top: -0.4rem;
}

li + li {
    margin-top: 1.7rem;
}

main img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
